$offblack: #424242;
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	font-family: 'Roboto Mono', monospace;
	background-color: rgb(248, 248, 248) !important;
}
html {
}
#siteBody {
	padding-top: 120px;
	background-color: rgb(248, 248, 248) !important;
	height: auto !important;
}
.border-bar {
	position:fixed;
	// background-color: blue;
	transition: background-color 0.3s;
	z-index:1000;

	&.top {
		width: 100vw;
		height: 1020px;
		left: 0;
		top: -1000px;
	}
	&.left {
		height: 100vh;
		width: 20px;
		top: 0;
		left: 0;
	}
	&.right {
		height: 100vh;
		width: 20px;
		top: 0;
		right: 0;
	}
	&.bottom {
		width: 100vw;
		height: 20px;
		left: 0;
		bottom: 0;
	}
}
#box {
	width: 800px;
	margin-right: 120px;

	#nav-box {
		width: 120px;
		position: fixed;
		top: 140px;

		.nav-item-box {
			height: 24px;
			width: 100%;
			margin-bottom: 20px;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.nav-item-title {
				font-size: 14px;
				font-weight: 700;
				color: $offblack;
				font-family: 'Space Mono', sans-serif;
			}
			.nav-item-circle {
				height: 20px;
				width: 20px;
				border: 4px solid $offblack;
				border-radius: 10px;
				margin-left: 15px;
				display: flex;
				align-items: center;
				justify-content: center;

				.nav-item-circle-active {
					height: 12px;
					width: 12px;
					border-radius: 6px;

					&.about-active {
						transition: background-color 0.3s; 
						background-color: rgba(76,175,80,0.5);
					}
					&.work-active {
						transition: background-color 0.3s; 
						background-color: rgba(3,169,244, 0.5);
					}
					&.projects-active {
						transition: background-color 0.3s;
						background-color: rgba(255,193,7,0.5);						
					}
					&.contact-active {
						transition: background-color 0.3s;
						background-color: rgba(244,67,54,0.5);
					}
				}
			}

			&:hover {
				cursor: pointer;
			}
		}
	}
	#content-scrim {
		width: 800px;
		background: -webkit-linear-gradient(bottom, rgba(248, 248, 248, 0), rgba(248, 248, 248, 1));
		position: fixed;
		height: 80px;
		top: 0;
	}
	#content-box {
		float: right;
		width: 600px;

		.section-box {
			margin-bottom: 150px;

			&.about {
				#about-image-box {
					width: 100%;
					display: flex;
					justify-content: space-between;
					margin-bottom:40px;

					.about-img {
						height: 190px;
						width: 190px;
						background-color: grey;
					}
				}
				#about-body {
					font-family: 'Roboto', sans-serif;
					line-height: 1.7;
					// letter-spacing: 1.2px;
					// width: 550px;
					color: $offblack;
				}
			}
			&.work {
				.work-box {
					border: 2px solid $offblack;
					padding: 30px;
					margin-bottom: 30px;
					color: $offblack;
					background-color: white;

					.work-info-box {
						margin-bottom: 40px;

						.work-header {
							font-size: 24px;
							font-weight: 700;
						}
						.work-byline {
							font-size: 14px;
						}
					}
					.work-about-box {
						display:flex; 
						margin-bottom: 15px;

						.work-about-text {
							font-family: 'Roboto', sans-serif;
						}
						.work-about-icon {
							height: 18px;
							width: 18px;
							margin-right: 10px;

							.icon {
								opacity: 0.5;
							}
						}
					}
					.work-roles-box {
						margin-top: 50px;
						
						.work-roles-header {
							font-weight: 700;
							margin-bottom: 15px;
							font-size: 18px;
						}

						.work-roles-list {
							.work-roles-item-box {
								display:flex;
								margin-bottom: 15px;

								.work-roles-item-bullet {
									width: 18px;
									height: 18px;
									margin-right: 10px;
								}
								.work-roles-item-text {
									font-family: 'Roboto', sans-serif;
									// font-weight: 300;
									line-height: 1.2;
								}
							}
						}
					}
				}
			}
			&.projects {
				.projects-list-box {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					.project-box {
						height: 290px;
						width: 290px;
						margin-bottom: 20px;
						border: 2px solid $offblack;
						background-color: white;

						display:flex;
						justify-content: center;
						align-items: center;

						transition: width 0.3s, height 0.3s;

						&:focus {
							outline: none;
						}

						&.header {
							height: 600px;
							width: 600px;
						}

						.proj-img {
							height: 100%;
							width: 100%;
							background-repeat: no-repeat;
							background-size:cover;
							background-position:center;
						}

						&:hover .proj-img {
							// width: 92%;
							// height: 92%;
							// transition: width 0.1s, height 0.1s;
						}
					}
				}
			}

			&.contact {
				margin-bottom: 200px;
				#contacts-box {
					.contact-box {
						margin-bottom: 30px;
						display: flex;
						justify-content: center;
						.contact-header-box {
							display: flex; 
							align-items: center;
							// margin-bottom: 10px;

							.contact-icon {
								opacity: 0.5;
								height: 24px;
								width: 24px;
								margin-right: 10px;
							
								&.email {
									background: url('../../assets/icons/email.png');
									background-size: cover;
								}
								&.phone {
									background: url('../../assets/icons/phone.png');
									background-size: cover;
								}
								&.linkedin {
									background: url('../../assets/icons/linkedin.svg');
									background-size: cover;
								}
								&.github {
									background: url('../../assets/icons/github.svg');
									background-size: cover;
								}
								&.resume {
									background: url('../../assets/icons/document.png');
									background-size: cover;
								}																
							}
							.contact-header {
								font-weight: 700;
								font-size: 20px;
								color: $offblack;
								margin-right: 10px;
								transition: margin 0.2s;
							}
						}

						.contact-body-box {
							display: flex;

							.contact-body {
								display: inline-block;
								width: 200px;
								padding: 8px;
								border: 2px solid $offblack;
								font-size: 14px;
							}
							.contact-body-copy-icon-box {
								height: 39px;
								width: 39px;
								border: 2px solid $offblack;
								display: flex;
								justify-content: center;
								align-items: center;
								background-color: rgba(244, 67, 54, 0.2);
								margin-left: -2px;

								transition: background-color 0.2s;

								.contact-body-copy-icon {
									background: url('../../assets/icons/copy.png');
									height: 20px;
									width: 20px;
									opacity: 0.7;
									background-size: cover;
								}

								&:hover {
									cursor: pointer;
									background-color: rgba(244, 67, 54, 0.4);
									transition: all 0.2s;
								}
							}
						}

						.contact-go-icon {
							background: url('../../assets/icons/go.png');
							background-size: cover;
							height: 26px;
							width: 26px;
							margin-bottom: -4px;
						}


						&:hover .contact-header{
							margin-right: 25px;
							margin-left: 15px;
							transition: all 0.2s;
							cursor: pointer;
						}
					}
					
				}
			}

			.header-box {
				margin-bottom: 35px;

				.header-emoji-box {
					display: flex;
					flex-direction: column;
					align-items: center;

					.header-emoji {
						height: 50px;
						width: 50px;
						background-size: cover;
						margin-bottom: 30px;

						&.about {
							background-image: url('../../assets/icons/wave.png');
							background-size: cover;
						}
						&.work {
							background-image: url('../../assets/icons/coffee.png');
							background-size: cover;
						}
						&.projects {
							background-image: url('../../assets/icons/beaker.png');
							background-size: cover;
						}
						&.contact {
							background-image: url('../../assets/icons/mailbox.png');
							background-size: cover;
						}
						&.other {
							background-image: url('../../assets/icons/box.png');
							background-size: cover;
						}
					}
					.header-text {
						font-size: 36px;
						font-family: 'Space Mono', monospace;
						margin-bottom: -18px;
						color: $offblack;
						text-align: center;
					}
				}

				.header-underline {
					height: 20px;
					width: 0px;
					transition: width 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);

					&.about {
						background-color: rgba(76,175,80,0.5);
						margin-left: 280px;				

						&.expandout {
							width: 225px;
						}
					}
					&.work {
						background-color: rgba(3,169,244, 0.5);
						margin-left: 345px;
						// width: 155px;

						&.expandout {
							width: 155px;
						}						
					}
					&.projects {
						background-color: rgba(255,193,7,0.5);
						margin-left: 355px;
						// width: 135px;	

						&.expandout {
							width: 135px;
						}											
					}
					&.contact {
						background-color: rgba(244,67,54,0.5);
						// width: 200px;
						margin-left: 280px;

						&.expandout {
							width: 200px;
						}						
					}
					&.contact-other {
						background-color: rgba(244,67,54,0.5);
						// width: 145px;
						margin-left: 295px;

						&.expandout {
							width: 145px;
						}						
					}					
				}
			}
		}
	}
}



#proj-box {
	width: 750px;
	margin-left: 80px;
	max-height: 95%;
	height: 95%;
	border-radius: 0px;
	
	#proj-box-header-bar {
		background-color: #FFD54F;
		color: $offblack;
		font-weight: 700;

		#closeIcon {
			opacity: 0.7;
		}
	}

	.proj-header-img {
		height: 350px;
		width: 100%;
		background-color: grey;

		background-size: cover;
		background-repeat:no-repeat;
		background-position:center;
	}
	.proj-info-box {
		padding: 30px;
		font-family: 'Roboto', sans-serif;
		background-color: #EEEEEE;

		.proj-info-part-box {
			display: flex;
			margin-bottom: 20px;
			color: $offblack;

			.proj-info-part-icon {
				background-size: cover;
				width: 18px;
				height: 18px;
				margin-right: 10px;

				.icon {
					opacity: 0.5;
				}
			}
			.proj-info-part-text {
			}
		}
	}

	.proj-detail-box {
		width: 100%;
		padding: 40px;
		color: $offblack;

		.proj-detail-header {
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 10px;
		}

		.detail-box {
			margin-bottom: 50px;
		}

		.proj-context-box {
			.proj-context-text {
				font-family: 'Roboto', sans-serif;
			}
		}
		.proj-contributions-box {
			.work-roles-list {
				.work-roles-item-box {
					display:flex;
					margin-bottom: 15px;

					.work-roles-item-bullet {
						width: 18px;
						height: 18px;
						margin-right: 10px;
					}
					.work-roles-item-text {
						font-family: 'Roboto', sans-serif;
						// font-weight: 300;
						line-height: 1.2;
					}
				}
			}
		}
		.proj-notes-box {
			.work-roles-list {
				.work-roles-item-box {
					display:flex;
					margin-bottom: 15px;

					.work-roles-item-bullet {
						width: 18px;
						height: 18px;
						margin-right: 10px;
					}
					.work-roles-item-text {
						font-family: 'Roboto', sans-serif;
						// font-weight: 300;
						line-height: 1.2;
					}
				}
			}
		}
		.proj-imgs-box {
			.img-box {
				margin-bottom: 40px;
				.proj-screenshot-box {
					border: 2px solid $offblack;
					width: 100%;
					height: 375px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 10px;
				}
				.proj-screenshot {
					width: calc(100% - 15px);
					height: calc(375px - 20px);
					background-size: cover;
					background-position: center;
				}
				.img-caption {
					font-size: 14px;
					font-family: 'Roboto', sans-serif;
					font-weight: 500;
				}
			}
		}
	}
}


